# Dev files
dev_docs/

# Next js
**/.next/
*.tsbuildinfo
next-env.d.ts
node_modules/
.DS_Store
*.pyc

# Env files
.env
.env.dev
.env.local

# venv 
venv/
.venv/

# vscode
.vscode/

# clerk
.clerk/

# pnpm
.pnpm-store/
.pnpm-debug.log*

# Claude
.claude/
claude.md

